body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:black;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
button{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
  overflow: hidden;
}
.title{
  background-color: #777;
}
.dancerPosition{
  float: left;
  margin: 20px;
  /* min-width: 300px; */
 /* position: relative;*/
  /* width: 57%;
  height: 57%;
  bottom: 20%; */
  /* background-color: red; */

}

.dancer{
  border:70px solid red;
  position:absolute;
  border-radius:100%;
  /* width: 57%;
  height: 57%;
  bottom: 20%; */
  /* background-color: red; */

}
.bigCircle{
  /* border:70px solid blueviolet; */
  background-color: fuchsia;
  border-radius:100%;
  position:absolute;
  transition: 1s;
  transition-timing-function:ease;
}
.smallCircle{
  border:50px solid fuchsia;
  border-radius:50px;
  position:absolute;
}

.changeColor {
  border:70px solid red;
  border-radius:70px;
  position:absolute;
  transition: linear 300ms;
}
.rotated {
  background-image: url(http://farm7.staticflickr.com/6115/6319704650_0a2bd0dcef_o.jpg);
  width:150px;
  height:150px;
  border-radius:50%;
  position:absolute;
  background-repeat:no-repeat;
  background-position:50% 50%;
  animation: spin 6s linear 0s infinite normal;
}
/* .rotated:hover {
  background-image: url(http://farm7.staticflickr.com/6115/6319704650_0a2bd0dcef_o.jpg);
  width:150px;
  height:150px;
  border-radius:50%;
  position:absolute;
  background-repeat:no-repeat;
  background-position:50% 50%;
  animation: spin 6s linear 0s infinite normal;
  animation-direction: reverse;
} */
.square{
  border:40px solid green;
  border-radius:10px;
  position:absolute;
}
.danceFloor {
  overflow: hidden;
}
section {
  width:80%;
  min-width: 1500px;
  margin: 3% 15%;
  position: relative;
}
section div {
  background:white;
  float: left;
  height: 250px;
  margin: 20px;
  /* min-width: 300px; */
  width: 300px;
  position: relative;
}
/* section div {
  background:white;
  float: left;
  height: 250px;
  min-height: 20%;
  margin: 20px;
  min-width: 250px;
  width: 250px;
  position: relative;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


